@model List<FreeSeats> 

@{
    ViewData["Title"] = "SeatSelect";
}

<h1>Please select your seat.</h1>
    <select name="chosenSeat">
        <option value="">Select a Seat</option>
        @for (var i = 0; i < Model.Count(); i++)
        {
            @if (Model[i].isFree)
            {
                <option value=@i>@Model[i].SeatNumber </option>
            }
        }
    </select>
    <a class="btn btn-primary" asp-controller="Flight" asp-action="SSS" asp-route-id="@Model[1].FlightId">Select!</a>